name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main", "v5" ]

jobs:
  ci:
    uses: AlexMan123456/github-actions/.github/workflows/pnpm-ci.yml@5144246069b920323a6a0719e22140a43fd3bdb6 # v3.1.1
