name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  ci:
    uses: AlexMan123456/github-actions/.github/workflows/pnpm-ci.yml@7c7a70fa3e4842ecd4d1169b3aef7f8c2d7c3c7e # v2.8.8
