name: Create feature docs
on:
  push:
    branches: ["main"]

permissions:
  contents: write
  pull-requests: write

jobs:
  commit-version-change:
    if: ${{ github.repository == 'AlexMan123456/eslint-plugin' }}
    uses: AlexMan123456/github-actions/.github/workflows/create-feature-docs.yml@5144246069b920323a6a0719e22140a43fd3bdb6 # v3.1.1
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
