name: Publish to NPM Registry

permissions:
  id-token: write

on:
  push:
    branches:
      - main

jobs:
  publish:
    if: ${{ github.repository == 'AlexMan123456/eslint-plugin' }}
    uses: AlexMan123456/github-actions/.github/workflows/npm-registry-publish.yml@86529c00c5698703b0d66898a7bd4fc46c7f71ff # v3.0.0
