name: Update Peer Dependencies
on:
  workflow_dispatch:
  schedule:
  - cron: 0 9 1 * *

permissions:
  contents: write
  pull-requests: write

jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    env:
      HUSKY: 0
    
    strategy:
      matrix:
        node-version: [22.x]

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: AlexMan123456/github-actions/update-peer-dependencies@0af89b366148dc51aca57f17d05abc9df6e92d72 # v2.1.4
      with:
        PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
