name: Update Dependencies
on:
  workflow_dispatch:
  schedule:
  - cron: 0 21 * * 5

permissions:
  contents: write
  pull-requests: write

jobs:
  update-dependencies:
    if: ${{ github.repository == 'AlexMan123456/eslint-plugin' }}
    uses: AlexMan123456/github-actions/.github/workflows/update-dependencies.yml@1a878cc0f6542c0732c9ab6e082d41f69c643e4e # v2.8.9
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
